- if @error_message.nil?
  .page__header
    #{@project_data['num_project']} Projects, #{@project_data['num_ongoing_project']} Ongoing

.page__content
  .well
    .well__header
      Projects
    .well__content
      - if @error_message.nil?
        = react_component 'ProjectList', { projects: @project_data['projects'] }
      - else
        .alert.alert--red
          .alert__title
            Oh snap!
          .alert__content
            Something error happened, please try again later.
