* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $grey-dark;
  background-color: $grey-super-light;

  &:before {
    width: 100%;
    height: 200px;
    content: " ";
    position: absolute;
    z-index: -1;
    background: $teal;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($blue, 15%);
    text-decoration: none;
  }
}
