$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$grid-gutter-width: 30px !default;

$container-sm: (720px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;

// color
$white: #fff;
$black: #000;

$grey-dark: #595959;
$grey: #7e7e80;
$grey-light: #bebebe;
$grey-super-light: #f1f3f2;

$teal: #1e756d;

$blue: #0390ba;

$green: #06aa5b;

$yellow: #fdda12;

$red: #ee3233;

$border-color: #e9e9e9;

// font
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

$font-family-logo: 'Comfortaa', sans-serif;
$font-size-logo: 28px;

$font-size-page-header: 54px;

// heading
$heading-margin-top: 5px;
$heading-margin-bottom: 5px;

// navbar
$navbar-min-height: 80px;
