.card {
  min-height: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: $white;
  border: 1px solid $border-color;

  .card__sidebar {
    display: table-cell;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;

    text-align: center;
    border-left: 1px solid $border-color;

    a {
      color: $teal;
    }

    > a > i {
      font-size: 36px;
      display: block;
      margin-bottom: 15px;
    }
  }
}

.card__list-link {
  font-size: 18px;
  margin-top: 10px;

  @media (max-width: $screen-xs) {
    font-size: 16px;
    margin: 0 0 10px;
  }
}
