.dropdown__button {
  border: none;
  cursor: pointer;
  background: transparent;
  color: inherit;
  padding: 0 20px;

  &:focus {
    outline: none;
  }

  &.active {
    background: rgba(255, 255, 255, .2);
  }
}

.dropdown__menu {
  z-index: 999;
  background: $white;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  position: absolute;
  min-width: 200px;
  line-height: $line-height-base;

  box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15);

  > li > a {
    display: block;
    padding: 3px 20px;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar__nav--right {
  .dropdown__menu {
    right: 0;
  }
}