.container {
  @include container-fixed;

  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
}

.container__fluild {
  @include container-fixed;
}

.row {
  display: table;
  border-spacing: 0;
  width: 100%;

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }

}

.col {
  display: table-cell;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: top;
}

.col--12 {
  width: 100%;
}

.col--11 {
  width: (100% * 11 / 12);
}

.col--10 {
  width: (100% * 10 / 12);
}

.col--9 {
  width: (100% * 9 / 12);
}

.col--8 {
  width: (100% * 8 / 12);
}

.col--7 {
  width: (100% * 7 / 12);
}

.col--6 {
  width: (100% / 2);
}

.col-5 {
  width: (100% * 5 / 12);
}

.col--4 {
  width: (100% * 4 / 12);
}

.col--3 {
  width: (100% * 3 / 12);
}

.col--2 {
  width: (100% * 2 /12);
}

.col--1 {
  width: (100% / 12);
}
