.navbar {
  background: $teal;
  color: $white;
  min-height: $navbar-min-height;
}

.navbar__logo {
  display: inline-block;
  font-family: $font-family-logo;
  font-size: $font-size-logo;
  color: $white;
  line-height: $navbar-min-height;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.navbar__nav {
  list-style: none;
  padding-left: 0;
  float: left;
  margin: 0;

  > li {
    float: left;
    padding: 15px 0;
  }

  >li > a,
  > li > div {
    position: relative;
    display: block;
    line-height: ($navbar-min-height - 15 * 2);
  }

  >li > a {
    padding: 0 20px;
  }

  > li > a,
  > li > a:hover,
  > li > a:focus {
    color: $white;
    text-decoration: none;
  }

  &--right {
    float: right;
  }
}
