.page__header {
  background: $teal;
  color: $white;
  padding: 30px;
  text-align: center;
  font-size: $font-size-page-header;
  position: relative;

  @media (max-width: $screen-xs) {
    padding-top: 10px;
    font-size: 34px;
  }

  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 80px;
    top: 90%;
    left: 0;
    z-index: -1;
    background: $teal;
  }
}

.page__content {
  @include container-fixed;

  @media (min-width: $screen-lg) {
    width: 750px;
  }
}
