.well {
  background: $white;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
}

.well__header {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 15px;

  border-bottom: 1px solid $border-color;

  @media (max-width: $screen-xs) {
    font-size: 24px;
  }
}
