%html
  %head
    %title Phrogress
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .navbar
      .container
        = link_to 'phrogress', '/', class: 'navbar__logo'

        %ul.navbar__nav.navbar__nav--right
          %li
            = link_to 'Home', '/'
          %li
            = react_component 'Dropdown', { title: 'Links',
            menuItems: [{ text: 'Architectural Plan',
            link: 'https://devs.peentar.com/w/development/architecture/' },
            { text: 'Weekly Report',
              link: 'https://drive.google.com/open?id=0B4-TcK8DprBOai1JM2Nhd2ZvbDQ' },
            { text: 'Glossary',
              link: 'https://devs.peentar.com/w/standardisasi/glossary/' },
            { text: 'Notulen Rapat',
              link: 'https://drive.google.com/open?id=0B3kywXG4gv3Tc3VXVTdWeTVZdE0' }] }
    = yield
